version: "3.8"

services:
  # --- Databases ---
  user-db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: userdb
    volumes:
      - user-db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - app-network

  address-db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: addressdb
    volumes:
      - address-db-data:/var/lib/postgresql/data
    ports:
      - "5435:5432"
    networks:
      - app-network

  auth-db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    networks:
      - app-network

  # --- Services ---
  auth-service:
    build: ./auth-service
    container_name: auth-service
    environment:
      - DB_HOST=auth-db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=authdb
      - JWT_SECRET=verysecretkey
      - KAFKA_BROKER=kafka:9092
    depends_on:
      - auth-db
      - kafka
    ports:
      - "3002:3002" # HTTP
      - "50052:50052" # gRPC
    networks:
      - app-network

  user-service:
    build: ./user-service
    container_name: user-service
    environment:
      - DB_HOST=user-db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=userdb
      - AUTH_GRPC_HOST=auth-service
      - AUTH_GRPC_PORT=50052
      - KAFKA_BROKER=kafka:9092
      - REDIS_ADDR=redis:6379
    depends_on:
      - user-db
      - auth-service
      - kafka
      - redis
    ports:
      - "3001:3001" # HTTP
      - "50051:50051" # gRPC
    networks:
      - app-network

  address-service:
    build: ./address-service
    container_name: address-service
    environment:
      - DB_HOST=address-db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=addressdb
      - USER_SERVICE_URL=http://user-service:3001
      - KAFKA_BROKER=kafka:9092
      - REDIS_ADDR=redis:6379
    depends_on:
      - address-db
      - user-service
      - kafka
      - redis
    ports:
      - "3003:3003"
      - "50053:50053"
    networks:
      - app-network
  search-service:
    build: ./search-service
    container_name: search-service
    depends_on:
      - kafka
      - elasticsearch
    environment:
      - KAFKA_BROKER=kafka:9092
      - ELASTICSEARCH_HOST=http://elasticsearch:9200
    ports:
      - "3004:3004"
    networks:
      - app-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka:7.7.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis
    restart: always
    networks:
      - app-network

  # --- API Gateway ---
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: on-failure
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - user-service
      - address-service
      - auth-service
      - search-service
    networks:
      - app-network

# --- Volumes ---
volumes:
  user-db-data:
  address-db-data:
  auth-db-data:

# --- Network ---
networks:
  app-network:
    driver: bridge
