package controller

import (
	pb "product-service/proto/product"

	"context"
	"strconv"
	"time"

	"github.com/gofiber/fiber/v2"
	"google.golang.org/grpc"
)

type StockController struct {
	Client pb.ProductServiceClient
}

func NewStockController() *StockController {
	conn, err := grpc.Dial("localhost:50054", grpc.WithInsecure())
	if err != nil {
		panic("failed to connect to product gRPC: " + err.Error())
	}

	client := pb.NewProductServiceClient(conn)
	return &StockController{Client: client}
}

// ===============================
//         GET STOCK
// ===============================
func (sc *StockController) Get(c *fiber.Ctx) error {
	id, err := strconv.Atoi(c.Params("product_id"))
	if err != nil {
		return c.Status(400).JSON(fiber.Map{"error": "invalid product_id"})
	}

	ctx, cancel := context.WithTimeout(context.Background(), 5*time.Second)
	defer cancel()

	resp, err := sc.Client.GetStock(ctx, &pb.GetStockRequest{
		ProductId: uint32(id),
	})
	if err != nil {
		return c.Status(500).JSON(fiber.Map{"error": err.Error()})
	}

	return c.JSON(resp.Stock)
}

// ===============================
//         UPDATE STOCK
// ===============================
func (sc *StockController) Update(c *fiber.Ctx) error {
	var body struct {
		ProductID uint32 `json:"product_id"`
		Quantity  int32  `json:"quantity"`
	}

	if err := c.BodyParser(&body); err != nil {
		return c.Status(400).JSON(fiber.Map{"error": "invalid payload"})
	}

	ctx, cancel := context.WithTimeout(context.Background(), 5*time.Second)
	defer cancel()

	resp, err := sc.Client.UpdateStock(ctx, &pb.UpdateStockRequest{
		ProductId: body.ProductID,
		Quantity:  body.Quantity,
	})
	if err != nil {
		return c.Status(500).JSON(fiber.Map{"error": err.Error()})
	}

	return c.JSON(resp.Stock)
}
